/* Space out content a bit */
html{
    overflow-x:hidden;
}

body {
  padding-top: 70px;
  /*padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  box-shadow: 1px 1px 10px 2px #000;
}

.shadowElement{
  box-shadow: 1px 1px 10px 2px #000;
  display: inline-block;
  border-radius: 6px;
  margin-left: 5px;
}

.teamBadge {
    width: 35px;
    height: 35px;
}

.white{
    color:#fff;
}

.navbar-blue{
    background-color:#0095D9;
    border-color:#0F71B8;
}

.navbar-inverse .navbar-toggle{
    border-color:#0F71B8;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color:#0F71B8;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color:#0F71B8;
}

.hiddenTitle{
    display:none;
}

.menuButton{
    width:65px;
    height:65px;
    margin-right:-5px;
    /*margin-left:3px;*/
    padding: 0px 0px 0px 0px;
    background-color:#0095D9;
    box-shadow: inset 1px 1px 20px 2px #0F71B8;
    -webkit-box-shadow: inset 1px 1px 20px 2px #0F71B8;
}

.menuTitle{
    color:white;
    /*font-weight:bold;*/
    font-size:smaller;
    display:inline;
    text-transform: capitalize;
    padding:10px 10px 10px 5px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 25%;
    min-width: 75px;
    display: inline-block;
    margin-left: 1px;
}

.mainMenuTitle{
    color:white;
    display:inline-block;
    width:50%;
    min-width: 130px;
    padding:10px 10px 10px 5px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 1px;
}

.goldenBox{
    /*background-color:#6F570D;
    box-shadow: inset 1px 1px 20px 2px #9F7916;
    -webkit-box-shadow: inset 1px 1px 20px 2px #9F7916;*/
    background-image: -webkit-linear-gradient(left, #9F7916, #6F570D, #9F7916);
    background-image: -o-linear-gradient(right, #9F7916, #6F570D, #9F7916);
    background-image: -moz-linear-gradient(right, #9F7916, #6F570D, #9F7916);
    background-image: linear-gradient(to right, #9F7916, #6F570D, #9F7916);
    box-shadow: 2px 0px 10px 0px #000;
    border-left-style: none;
}

.inlineMenu{
    display:inline;
    padding-left: 5px;
}


.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open 
.dropdown-toggle.btn-primary.menuButton{
    background-color:#0F71B8;
    box-shadow: inset 1px 1px 20px 2px #0095D9;
    -webkit-box-shadow: inset 1px 1px 20px 2px #0095D9;
}

.contactIcon, .contactIcon:before{
    content:url(../images/icone_faleconosco_peq.png);
}

.contactBigIcon, .contactBigIcon:before{
    content:url(../images/icone_faleconosco.png);
    width: 90px;
    height: 90px;
}

.calendarIcon, .calendarIcon:before{
    content:url(../images/icone_relogio_peq.png);
}

.calendarBigIcon, .calendarBigIcon:before{
    content:url(../images/icone_relogio.png);
}

.newsIcon, .newsIcon:before{
    content:url(../images/icone_noticia_peq.png);
}

.newsBigIcon, .newsBigIcon:before{
    content:url(../images/icone_noticia.png);
}

.loadingIcon, .loadingIcon:before{
    content:url(../images/loading.gif);
}

.starTitle, .starTitle:before{
    content:url(../images/estrelas_peq.png);
}

.smallLogo, .smallLogo:before{
    content:url(../images/logo_peq.png);
}

footer{
    /*margin: 0% -320px;*/
    position: fixed;
    width:100%;
    /*left: 100%;*/
    bottom: 0%;
    background: none repeat scroll 0% 0% #FFF;
}

.footer{
    padding-top:5px;
}

.noBorder{
    padding-right:0px;
    padding-left:0px;
}

.logoHeader{
    padding-left:40px;
}

.gradientBlue{
    background-color:#0F71B8;
    box-shadow: inset 1px 1px 25px 4px #0095D9;
    -webkit-box-shadow: inset 1px 1px 25px 4px #0095D9;
}

.mainMenuItem{
    padding: 10px 10px 10px 35px;
}

.mainMenuButton{
    width:90px;
    height:90px;
    background-color:#0095D9;
    padding: 0px 0px 0px 0px;
    margin-right:-5px;
    box-shadow: inset 1px 1px 20px 2px #0F71B8;
    -webkit-box-shadow: inset 1px 1px 20px 2px #0F71B8;
}

.splashBody{
    background-color:#FFF;
    box-shadow: inset 1px 1px 20px 2px #000;
    -webkit-box-shadow: inset 1px 1px 20px 2px #333;
}

.splashContent{
    /*display:inline-flex;*/
}

.splashContent img{
    padding-top:50px;
    width: 75%;
    max-width:500px;
}

.facebookIcon, .facebookIcon:before{
    content:url(../images/facebook.png);
}

.facebookSmall, .facebookSmall:before{
    content:url(../images/facebook_small.png);
    vertical-align:middle;
}

.smallIcon{
    height:25px;
    width:25px;
}

.twitterIcon, .twitterIcon:before{
    content:url(../images/twitter.png);
}

.twitterSmall, .twitterSmall:before{
    content:url(../images/twitter_small.png);
    vertical-align:middle;
}

.copyright-details{
  text-align: center;
  font-size: xx-small;
  padding-top: 50px;
  color: gray;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.centeredMenu{
  text-align: center;
  margin-left: -15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
