<div class="noBorder" data-ng-init="buildMatchList()">
    <br />
    <div class="text-center" data-ng-hide="loadedComplete"><span class="loadingIcon"></span></div>
    <ul ng-cloak class="list-group">
        <li data-ng-repeat="match in matches" class="list-group-item">
            <h6>{{match.DataHora}} - {{match.Estadio}} - {{match.Cidade}}</h6>
            <h5><img class="teamBadge" ng-src="{{getLogoUrl(match.LogoMandante)}}" />{{match.Mandante}} {{match.PlacarMandante}} X {{match.PlacarVisitante}} {{match.Visitante}}<img class="teamBadge" ng-src="{{getLogoUrl(match.LogoVisitante)}}" /></h5>
            <span>{{match.Campeonato}}</span>
        </li>
    </ul>
    <ul class="pager">
        <li>
            <a type="button" data-ng-show="loadedComplete" data-ng-click="loadMoreMatches()">{{loadingButton}}</a>
        </li>
    </ul>
    <hr>
</div>